{% extends "blog/base.html" %}
{% block content %}
    <h1>
        
         <h3>Vijay Tiwari-32</h3>
         <h3>Anurag Pandey- 33</h3>
         <h3>Viraj Gavas-52</h3>
         <h3>Akash Adarkar-60</h3>
         
        </h1>
 
 <h6>With deepest gratitude, we would like to thank each and every 
        person who has helped us in this project. 
        We would also like to acknowledge and express our gratitude to 
        the following people for their magnificent support and 
        contribution in our journey to create this project. 
        We pay homage to our parents and our subject teachers whose 
        teachings lit a burning desire within us. 
        We have walked in the shadow of their knowledge and would like 
        to pay special honour to Respected Mr. Chintamani chavan , 
        our  (CPI) Teacher, Respected Dr. Ganesh 
        Ganechari Sir, our College Principal Sir, Ms. Suwarna Thakre 
        Madam, our Head of Department and also mainly our all teaching 
        and non-teaching staff members of I.F. Department</h6>
{% endblock content %}